*{
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-style: normal;
}


.navbar-menu{
  display: flex;
  justify-content: center;
}

.nav-item{
  padding: 11px 10px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  /* text-transform: uppercase; */
  transition: 0.8s;
  /* width: 120px;
  justify-content: center;
  text-align: center; */
}

.nav-item:hover{
  background-color: orange;
  border-radius: 30px;
}
.container{
  background-size: 2000px 1200px;
  margin: 0%
}
